Project_KeyCard/Node-Red/KeyCard.json
[{"id":"4dcb9c76.2ecca4","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"180dd4b.1c5a82b","type":"inject","z":"4dcb9c76.2ecca4","name":"CREATE","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"CREATE TABLE \"QuanlyLop\" ( \"id\"TEXT NOT NULL UNIQUE, \t\"Position\"\tTEXT NOT NULL, \"name\"TEXT NOT NULL ); ","payload":"","payloadType":"date","x":400,"y":360,"wires":[["2f5ef991.acca26"]]},{"id":"2f5ef991.acca26","type":"sqlite","z":"4dcb9c76.2ecca4","mydb":"2cbfc0e1.124b7","sqlquery":"msg.topic","sql":"","name":"DB","x":850,"y":400,"wires":[["85c94177.7c26d"]]},{"id":"85c94177.7c26d","type":"debug","z":"4dcb9c76.2ecca4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1030,"y":400,"wires":[]},{"id":"1fe7e538.e0b6eb","type":"inject","z":"4dcb9c76.2ecca4","name":"INSERT","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"INSERT INTO \"Quanlylop\" (\"id\",\"Position\") VALUES (\"7966de5a\", \"GV\")","payload":"","payloadType":"date","x":400,"y":400,"wires":[["2f5ef991.acca26"]]},{"id":"96ffd018.910ee","type":"inject","z":"4dcb9c76.2ecca4","name":"SELECT","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"SELECT * FROM \"Quanlylop\"","payload":"","payloadType":"date","x":400,"y":460,"wires":[["2f5ef991.acca26"]]},{"id":"9f7ac591.09f298","type":"inject","z":"4dcb9c76.2ecca4","name":"DELETE","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"DELETE FROM Quanlylop","payload":"","payloadType":"date","x":400,"y":520,"wires":[["2f5ef991.acca26"]]},{"id":"17601ab1.f424b5","type":"inject","z":"4dcb9c76.2ecca4","name":"DROP","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"DROP TABLE Quanlylop","payload":"","payloadType":"date","x":390,"y":580,"wires":[["2f5ef991.acca26"]]},{"id":"cc2a1724.0017a8","type":"sqlite","z":"4dcb9c76.2ecca4","mydb":"2cbfc0e1.124b7","sqlquery":"msg.topic","sql":"","name":"DB","x":1030,"y":780,"wires":[["2385ff43.b5412","314c89f3.937576"]]},{"id":"b3695d9d.9842b","type":"function","z":"4dcb9c76.2ecca4","name":"INSERT","func":"msg.topic=\"INSERT INTO Quanlylop (id, Position,name) VALUES (?,?,?)\";\nmsg.payload=[msg.payload.id,msg.payload.Position,msg.payload.name];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":780,"wires":[["cc2a1724.0017a8"]]},{"id":"2385ff43.b5412","type":"debug","z":"4dcb9c76.2ecca4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1210,"y":780,"wires":[]},{"id":"b2f2a451.c399d8","type":"ui_text_input","z":"4dcb9c76.2ecca4","name":"ID","label":"ID","tooltip":"","group":"b7868331.17d03","order":1,"width":0,"height":0,"passthru":false,"mode":"text","delay":"300","topic":"id","x":350,"y":800,"wires":[["6ef80876.a69fd8"]]},{"id":"c6b0dcc6.69612","type":"ui_button","z":"4dcb9c76.2ecca4","name":"save-button","group":"b7868331.17d03","order":4,"width":0,"height":0,"passthru":false,"label":"Save","tooltip":"","color":"","bgcolor":"","icon":"save","payload":"{}","payloadType":"global","topic":"save-button","x":370,"y":960,"wires":[["6ef80876.a69fd8"]]},{"id":"bda58726.c6a028","type":"debug","z":"4dcb9c76.2ecca4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":831,"y":860,"wires":[]},{"id":"6ef80876.a69fd8","type":"join","z":"4dcb9c76.2ecca4","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"1","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":550,"y":860,"wires":[["ab3b7b4.d1eee88"]]},{"id":"ab3b7b4.d1eee88","type":"switch","z":"4dcb9c76.2ecca4","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"save-button","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":687.5,"y":860,"wires":[["bda58726.c6a028","b3695d9d.9842b"]]},{"id":"4d6a9339.abcd8c","type":"ui_text_input","z":"4dcb9c76.2ecca4","name":"Position","label":"position","tooltip":"","group":"b7868331.17d03","order":1,"width":0,"height":0,"passthru":false,"mode":"text","delay":"300","topic":"Position","x":360,"y":860,"wires":[["6ef80876.a69fd8"]]},{"id":"530ebcda.4683d4","type":"mqtt in","z":"4dcb9c76.2ecca4","name":"","topic":"UID","qos":"2","datatype":"auto","broker":"6ec4dcef.913b24","x":140,"y":800,"wires":[["b2f2a451.c399d8"]]},{"id":"a8a8ac46.6c0b1","type":"mqtt in","z":"4dcb9c76.2ecca4","name":"","topic":"delete","qos":"2","datatype":"utf8","broker":"1b9f5bca.d57e04","x":1230,"y":1120,"wires":[["7171f034.65a51"]]},{"id":"7171f034.65a51","type":"debug","z":"4dcb9c76.2ecca4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1230,"y":1040,"wires":[]},{"id":"b18fa550.3b7e18","type":"ui_button","z":"4dcb9c76.2ecca4","name":"delete","group":"b7868331.17d03","order":4,"width":0,"height":0,"passthru":false,"label":"delete","tooltip":"","color":"","bgcolor":"","icon":"delete","payload":"{}","payloadType":"global","topic":"delete-button","x":310,"y":1180,"wires":[["5edcacad.0ac254"]]},{"id":"5edcacad.0ac254","type":"join","z":"4dcb9c76.2ecca4","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"1","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":510,"y":1120,"wires":[["926f5cd.e1f02a"]]},{"id":"926f5cd.e1f02a","type":"switch","z":"4dcb9c76.2ecca4","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"delete-button","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":670,"y":1100,"wires":[["9cc5921d.a0964"]]},{"id":"af9e3028.e891a","type":"mqtt in","z":"4dcb9c76.2ecca4","name":"","topic":"UID","qos":"2","datatype":"auto","broker":"6ec4dcef.913b24","x":100,"y":1060,"wires":[["9610494e.48c8a8"]]},{"id":"47918a12.4e12e4","type":"mqtt out","z":"4dcb9c76.2ecca4","name":"","topic":"delete","qos":"0","retain":"","broker":"1b9f5bca.d57e04","x":1030,"y":1120,"wires":[]},{"id":"9cc5921d.a0964","type":"function","z":"4dcb9c76.2ecca4","name":"","func":"var mes = {payload: (msg.payload.ID)};\nreturn mes;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":1120,"wires":[["47918a12.4e12e4","513aed4d.dc10f4","e22371.c660cc9"]]},{"id":"5c5fb909.c25f98","type":"ui_text","z":"4dcb9c76.2ecca4","group":"b7868331.17d03","order":1,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":1250,"y":880,"wires":[]},{"id":"314c89f3.937576","type":"function","z":"4dcb9c76.2ecca4","name":"notification","func":"var mess = {payload: \"Sucessfully Insert\"};\nreturn mess;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1040,"y":880,"wires":[["5c5fb909.c25f98","513aed4d.dc10f4"]]},{"id":"7fa8d1a3.f558f","type":"function","z":"4dcb9c76.2ecca4","name":"","func":"var clear = {payload: \"WELCOME TO KEYCARD\"};\nreturn clear;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1050,"y":960,"wires":[["5c5fb909.c25f98"]]},{"id":"513aed4d.dc10f4","type":"delay","z":"4dcb9c76.2ecca4","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":890,"y":980,"wires":[["7fa8d1a3.f558f"]]},{"id":"e22371.c660cc9","type":"function","z":"4dcb9c76.2ecca4","name":"notification","func":"var mess = {payload: \"Sucessfully Delete\"};\nreturn mess;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":990,"y":1040,"wires":[["5c5fb909.c25f98"]]},{"id":"45bf417f.3ac75","type":"mqtt in","z":"4dcb9c76.2ecca4","name":"","topic":"outTopic","qos":"2","datatype":"utf8","broker":"1b9f5bca.d57e04","x":610,"y":1320,"wires":[["db3c273.03189d8"]]},{"id":"db3c273.03189d8","type":"delay","z":"4dcb9c76.2ecca4","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":810,"y":1320,"wires":[["f7d9a704.ab2138"]]},{"id":"f7d9a704.ab2138","type":"function","z":"4dcb9c76.2ecca4","name":"clear-mess","func":"var clearmes = {payload: \"clear\"};\nreturn clearmes;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":1320,"wires":[["ca20ec8b.ba3c4"]]},{"id":"ca20ec8b.ba3c4","type":"mqtt out","z":"4dcb9c76.2ecca4","name":"","topic":"clear","qos":"0","retain":"","broker":"1b9f5bca.d57e04","x":1230,"y":1300,"wires":[]},{"id":"c819596f.d89ba8","type":"ui_text_input","z":"4dcb9c76.2ecca4","name":"name","label":"name","tooltip":"","group":"b7868331.17d03","order":1,"width":0,"height":0,"passthru":false,"mode":"text","delay":"300","topic":"name","x":350,"y":920,"wires":[["6ef80876.a69fd8"]]},{"id":"9610494e.48c8a8","type":"ui_text_input","z":"4dcb9c76.2ecca4","name":"ID-delete","label":"ID-delete","tooltip":"","group":"b7868331.17d03","order":1,"width":0,"height":0,"passthru":false,"mode":"text","delay":"300","topic":"ID","x":280,"y":1080,"wires":[["5edcacad.0ac254"]]},{"id":"2cbfc0e1.124b7","type":"sqlitedb","db":"/home/pi/sqlite/update.db","mode":"RWC"},{"id":"b7868331.17d03","type":"ui_group","name":"Class Coking2","tab":"adfefd9f.57aae","order":1,"disp":true,"width":"6","collapse":false},{"id":"6ec4dcef.913b24","type":"mqtt-broker","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1b9f5bca.d57e04","type":"mqtt-broker","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"adfefd9f.57aae","type":"ui_tab","name":"Class","icon":"class","disabled":false,"hidden":false}]